<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<div class="body">
    <div class="box">
        <h1 class="heading">Login</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>
                    <form action="/login" method="POST">
                        <div class="loginitem">
                            <label for="email">Email Address</label>
                            <input class="textbox" type="email" id="email" name="email" required>
                        </div>
                        <div class="loginitem">
                            <label for="password">Password</label>
                            <input class="textbox" type="password" id="password" name="password" required>
                        </div>
                        <button class="button" type="submit">Login</button>
                    </form>
                    <a href="/register">Register</a>
    </div>
</div>