<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<div class="body">
    <div class="box">
        <h1 class="heading">Register</h1>

        <form action="/register" method="POST">
            <div class="loginitem">
                <label for="email">Email Address</label>
                <input class="textbox" type="email" id="email" name="email" required>
            </div>
            <div class="loginitem">
                <label for="password">Password</label>
                <input class="textbox" type="password" id="password" name="password" required>
            </div>
            <div class="loginitem">
                <label for="first_name">First Name</label>
                <input class="textbox" type="text" id="name" name="first_name" required>
            </div>
            <div class="loginitem">
                <label for="last_name">Last Name</label>
                <input class="textbox" type="text" id="last_name" name="last_name" required>
            </div>
            <div class="loginitem">
                <label for="year">Grad Year</label>
                <input class="textbox" type="text" id="year" name="year" required>
            </div>
            <div class="loginitem">
                <label for="number">Phone Number</label>
                <input class="textbox" type="tel" id="number" name="number" required>
            </div>
            <div class="loginitem">
                <label for="address1">Address Line 1</label>
                <input class="textbox" type="text" id="address1" name="address1" required>
            </div>
            <div class="loginitem">
                <label for="address2">Address Line 2</label>
                <input class="textbox" type="text" id="address2" name="address2" required>
            </div>
            <div class="loginitem">
                <label for="city">City</label>
                <input class="textbox" type="text" id="city" name="city" required>
            </div>
            <div class="loginitem">
                <label for="state">State</label>
                <input class="textbox" type="text" id="state" name="state" required>
            </div>
            <div class="loginitem">
                <label for="zip">Zip / Postal Code</label>
                <input class="textbox" type="text" id="zip" name="zip" required>
            </div>
            <button class="button" type="submit">Register</button>
        </form>
        <a href="/login">Login</a>
    </div>
</div>